<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    <h1>Code</h1>
    <p>Third route</p>
    <img src="/images/cool-code.jpg" />
    <br></br>

    <a href="/cat">See Cat Page</a>
    <a href="/code">See Code Page</a>
    <a href="/home">See Home Page</a>
    <a href="/test">See Test Page</a>
    <a href="/about">See About Page🤘</a>
    <a href="/">See Main Page🤘</a>
    
</body>
</html>