<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href=""stylesheets/style.css" />
</head>
<body>

    <h1>Welcome 🤘</h1>
    <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTEwL3JtNTk5ZGVzaWduLWVsZW1lbnQtMTgtbDlkM2J5d3QucG5n.png" width="50%" height="auto" />
    <br></br>
    <a href="/cat">See Cat Page</a>
    <a href="/code">See Code Page</a>
    <a href="/home">See Home Page</a>
    <a href="/test">See Test Page</a>
    <a href="/about">See About Page🤘</a>
    <a href="/">See Main Page🤘</a>
</body>
</html>