div {
  background-color: lightblue;
  margin-top: 10px;
}

span {
  background-color: purple;
  color: white;
}

ol {
  font-weight: bold;
  font-size: 1em;
}

table {
  font-weight: bold;
  background-color: color-mix(in srgb, purple 30%, orange 30%);
}