<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="https://w0.peakpx.com/wallpaper/410/513/HD-wallpaper-lebron-james-2020-nba-los-angeles-lakers-yellow-uniform-basketball-stars-lebron-raymone-james-sr-neon-lights-basketball-la-lakers-lebron-james-creative-lebron-james-lakers-thumbnail.jpg"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Lebron James</h5>
      <p class="card-text">CLE</p>
    </div>
  </div>
</div>